body{
  margin: 0;
}

.container{
  max-width: 1280px;
  width: 100%;
  height: 1000px;
  background-color: black; 
  margin: 0 auto;
}
#startPhoto{
  height: 669px;
  
  background-image: url("../img/header_main.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#header{ 
  background-color: black; 
  opacity:0.4;
  width: 1280;
  width: 100%;
  margin: 0 auto;
  height: 118px;

}
#headerTop{

  width: 998px;
  height: 57.5px;
  margin: 0 auto;
  border-bottom: 2px solid rgba(113, 117, 133, .39);
  
}
#headerBottom{
  
  width: 998px;
  height: 57.5px;
  margin: 0 auto;
}

#searchBox{
  width: 1280px;
  height: 267px;
  background-image: linear-gradient(135deg, #f0d839 25%, #f0d449 25%, #f0d449 50%, #f0d839 50%, #f0d839 75%, #f0d449 75%, #f0d449 100%);
  background-size: 8.49px 8.49px;
}

